 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0d0e0f;
  }
  
  body,
  input,
  textarea,
  select,
  button {
    color: white;
    font: 400 1rem "Roboto", sans-serif;
  }

  .pokeball{
    display: flex;
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }

  h1{
    color: #2E69B2;
  }
  
 header{
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png");
    background-repeat: no-repeat;
    background-position: 640px;
    background-size: 500px;
  }
  

.pokemonBox{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 20px;

}

.Pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

}

.Page-item{
    display: flex;
    margin: 10px;
}

.Abilities,.Moves,.weight{
    display: flex;
    padding-top: 10px;
    text-transform: capitalize;
}
